{% extends '::base.html.twig' %}
{% block body %}
    Page d'accueil<br>
    Page d'accueil<br>
    SlideShow des évents<br>
    Menus du restaurants<br>
    Inscription<br>
    Contact<br>
    <a href="{{ path('lmvq_coffee_programmation') }}">Programmation</a><br>
    <a href="{{ path('lmvq_coffee_basket') }}">Panier</a><br>
    <a href="{{ path('lmvq_coffee_december') }}">31 décembre</a><br>
{% endblock %}